<!doctype html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/menu'); %>

    <div class="page">
      <h1>Products page</h1>  
      <div class="productContainer">
        <%
            if(products){
              for(let product of products)
              {
                %>
                  <div class="card cardCustom" style="width: 300px; height: 350px; margin : 10px; padding:10px">
                    <img src="data:image/png;base64,<%=product.image%>" 
                      class="card-img-top" alt="<%= product.name %>" style="width: 150px;">
                    <div class="card-body" style="position: relative;">
                      <h5 class="card-title"><%= product.name %></h5>
                      <p class="card-text">Price : RM <%= product.price %></p>
                      <p class="card-text">Description : <%= product.description %></p>
                    </div>
                  </div>
                <%
              }
            }else{
              %><p>Empty</p><%
            }
        %>
      </div>
    </div>

    <%- include('../partials/scripts'); %>
</body>
</html>


