<!doctype html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/menu'); %>

    <div class="page">

      <h1>Users Page
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addUserModal">
          <i class="fa fa-plus"></i>
        </button>
      </h1>
      <div class="userContainer">
          <%
              if(users){
                for(let user of users)
                {
                  %>
                    <div class="card cardCustom" style="width: 300px; height: 350px; margin : 10px; padding:10px">
                      <div>
                        <img src="data:image/png;base64,<%=user.image%>" 
                          class="card-img-top" alt="<%= user.name %>" style="width: 150px;">
                        <form action="/users/delete/<%= user._id %>" method="POST" style="float: right;">
                          <button type="submit" class="btn">
                            <i class="fa fa-trash"></i>
                          </button>
                        </form>
                      </div>
                      <div class="card-body" style="position: relative;">
                        <h5 class="card-title"><a href="/users/<%=user._id%>"><%= user.name %></a></h5>
                        <p class="card-text">Address: <%= user.address %></p>
                      </div>
                    </div>
                  <%
                }
              }else{
                %><p>Empty</p><%
              }
          %>
        </div>
    </div>

    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <form action="/users" method="POST" enctype="multipart/form-data">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="John Doe ..." required>
              </div>

              <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="No where ..." required>
              </div>

              <div class="form-group">
                <label for="profile">Profile Image</label>
                <input type="file" class="form-control" id="profile" name="profile" placeholder="N/A" accept="image/png, image/jpeg" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <%- include('../partials/scripts'); %>
</body>
</html>